.*.swp
landsim/
templater/
layers/Mojavset/
*_cache/
*_figure/
layers/background/SR_HR/
layers/background/US_MSR_10M/
layers/desert_veg/anza_borrego/
layers/desert_veg/central/
layers/desert_veg/thumbs/
layers/desert_veg/western/
layers/eschscholzia_minutiflora_twisselmannii/
layers/gap_data/
layers/great_valley_riparian/
layers/joshua_tree_niche/
layers/lassen/
layers/mentzelia_tridentata/
analyses/cache
analyses/figure
gstudio
